{% load static %}
<nav id="navbar">
    <ul class="topnav">
        <li class="leftalign"><a href="{% url 'home' %}" id="navHome">Home</a></li>
        <li class="leftalign"><a href="javascript:void(0)" id="navPackageInfo">Package Info</a></li>
        {% if request.user.is_authenticated %}
        <li class="leftalign"><a href="{% url 'user_reservations' %}" id="navReservations">Reservations</a></li>
        <li class="rightalign">
            <a href="{% url 'cas-logout' %}">Logout</a>
        </li>
        <li class="rightalign"><span id="username">{{request.user.username}}</span></li>
        {% else %}
        <li class="rightalign">
            <a href="{% url 'cas' %}">Login</a>
        </li>
        <li class="rightalign"><span id="welcome">Welcome to SaPaMi</span></li>
        {% endif %}
    </ul>
</nav>
<script src="{% static 'scripts/navbar.js' %}"></script>
<script>
    {% if request.resolver_match.url_name == 'home' %}
    document.getElementById("navHome").setAttribute("class", "active");
    {% elif request.resolver_match.url_name == 'packages' %}
    document.getElementById("navPackageInfo").setAttribute("class", "active");
    {% elif request.resolver_match.url_name == 'reservations' %}
    document.getElementById("navReservations").setAttribute("class", "active");
    {% endif %}
</script>
