{% load static %}
<nav id="navbar">
    <ul class="topnav">
        <li class="leftalign"><a href="{% url 'home' %}" id="navHome">Home</a></li>
        {% if request.user.is_authenticated %}
        <li class="leftalign"><a href="javascript:void(0)" id="navPackageInfo">Package Info</a></li>
        <li class="rightalign">
            <a href="{% url 'cas-logout' %}">Logout</a>
        </li>
        <li class="rightalign"><span id="username">{{request.user.username}}</span></li>
        {% else %}
        <li class="rightalign">
            <a href="{% url 'cas' %}">Login</a>
        </li>
        {% endif %}
    </ul>
</nav>
<script src="{% static 'scripts/navbar.js' %}"></script>
